h1 {
    color:red
}

h1 + p {
    font-size: 200%;
}
p, li {
    color:green
}

li {
    list-style-type: none;;
}

li.special, 
span.special {
    color:orange;
    font-weight: bold;
}

li em {
    color:rebeccapurple;
}

body h1 + p .special {
    color: yellow;
    background-color: black;
    padding: 5px;
  }